@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white font-body;
}

::selection {
  @apply bg-accent text-dark;
}

/* Page transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}
